html{background-color:#f2f2f2;background:url(../images/bg.jpg) no-repeat bottom right fixed;background-size:cover}

body{font-family:'EB Garamond',serif;font-weight:300;color:#555;-webkit-font-smoothing:antialiased;-webkit-overflow-scrolling:touch}
body{font-size:1em;line-height:1.4;color:#555}

h1,h2,h3,h4,h5,h6{font-family:'Oswald',sans-serif;
		  font-weight:300;
		  color:#333}
.article-title,.blog-header{text-align:center}


img{vertical-align:middle}
fieldset{border:0;margin:0;padding:0}
textarea{resize:vertical}.nocallout{-webkit-touch-callout:none}.pressed{background-color:rgba(0,0,0,.7)}
textarea[contenteditable]{-webkit-appearance:none}.gifhidden{position:absolute;left:-100%}.ir{background-color:transparent;background-repeat:no-repeat;border:0;direction:ltr;display:block;overflow:hidden;text-align:left;text-indent:-999em}.ir

br{display:none}
.hidden{display:none!important;}

a:visited{color:#551a8b}
a:hover{color:#06e}

a{color: #f39c12;
  word-wrap:break-word;
  -webkit-transition:color.1s ease-in,background.1s ease-in;
  transition:color.1s ease-in,background.1s ease-in}
a:hover,a:focus{color:#7b7b7b;text-decoration:none;outline:0}
a:before,a:after{-webkit-transition:color.1s ease-in,background.1s ease-in;
		 transition:color.1s ease-in,background.1s ease-in}

p{line-height:140%;margin-bottom:2%}
.c1{font-size:26px}



br{display:none}
.hidden{display:none!important;
			visibility:hidden}

.visuallyhidden{border:0;
		clip:rect(0 0 0 0);
		height:1px;
		margin:-1px;
		overflow:hidden;
		padding:0;
		position:absolute;
		width:1px}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus
{clip:auto;
 height:auto;
 margin:0;
 overflow:visible;
 position:static;
 width:auto}
.invisible{visibility:hidden}
.clearfix::before,.clearfix::after{content:"";
				   display:table}
.clearfix::after{clear:both}


/*these are from the org-mode exported site*/

.title{text-align:center;font-size:70px}
.todo{color:red}
.done{color:green}
.tag{background-color:#add8e6;font-weight:400}
.timestamp{color:#bebebe}.timestamp-kwd{color:#5f9ea0}
.right{margin-left:auto;margin-right:0;text-align:right}
.left{margin-left:0;text-align:left}
.left,.center{margin-right:auto}
.center{margin-left:auto;text-align:center}
p.verse{margin-left:5%}
pre{
    /*background-color:#F3F5F7;*/
    padding:5pt;
    font-family:courier,monospace;
    font-size:90%;
    overflow:auto}


code {border:1pt solid #AEBDCC;
    background:rgba(119,119,119,.5);
      font-family:"Courier 10 Pitch",Courier,monospace;
      font-size:.9375em;
      line-height:1.6em;
      margin-top:-2px;
      margin-bottom:24px;
      max-width:100%;
      overflow:auto;
      padding:24px }

pre.example{border-top:solid 5px #9c0001;
	    border-bottom:solid 5px #9c0001}

kbd,tt,var{font-family:Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;
		font-size:.875em;
		line-height:1.71429em;
	       }
table{border-collapse:collapse}
td,th{vertical-align:top}
th.right,th.left,th.center{text-align:center}
td.right{text-align:right}
td.left{text-align:left}
td.center{text-align:center}
dt{font-weight:700}
div.figure{padding:.5em}
div.figure p{text-align:center}
div.inlinetask{padding:10px;border:2px solid gray;margin:10px;background:#ffc}
textarea{overflow-x:auto}
.linenr{font-size:smaller}
.code-highlighted{background-color:#ff0}
.org-info-js_info-navigation{border-style:none}#org-info-js_console-label{font-size:10px;font-weight:700;white-space:nowrap}
.org-info-js_search-highlight{background-color:#ff0;color:#000;font-weight:700}
p.postamble{text-align:center;font-size:12px}
body{padding:40px 120px;text-align:left}
blockquote p{font-size:inherit}
blockquote p,#footnotes{font-style:italic}#footnotes
		       h2.footnotes{font-size:18px}disqus_thread{margin-top:28px}
