.title{text-align:center;font-size:70px}
.todo{color:red}
.done{color:green}
.tag{background-color:#add8e6;font-weight:400}
.timestamp{color:#bebebe}.timestamp-kwd{color:#5f9ea0}
.right{margin-left:auto;margin-right:0;text-align:right}
.left{margin-left:0;text-align:left}
.left,.center{margin-right:auto}
.center{margin-left:auto;text-align:center}
p.verse{margin-left:5%}
pre{border:1pt solid #AEBDCC;background-color:#F3F5F7;padding:5pt;font-family:courier,monospace;font-size:90%;overflow:auto}

pre.src,pre.example,code{background:rgba(119,119,119,.5);
		    font-family:"Courier 10 Pitch",Courier,monospace;
		    font-size:.9375em;
		    line-height:1.6em;
		    margin-top:-2px;
		    margin-bottom:24px;
		    max-width:100%;
		    overflow:auto;
		    padding:24px}

code,pre.example{border-top:solid 5px #9c0001;
	    border-bottom:solid 5px #9c0001}

kbd,tt,var{font-family:Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;
		font-size:.875em;
		line-height:1.71429em;
	       }

table{border-collapse:collapse}
td,th{vertical-align:top}
th.right,th.left,th.center{text-align:center}
td.right{text-align:right}
td.left{text-align:left}
td.center{text-align:center}
dt{font-weight:700}
div.figure{padding:.5em}
div.figure p{text-align:center}
div.inlinetask{padding:10px;border:2px solid gray;margin:10px;background:#ffc}
textarea{overflow-x:auto}
.linenr{font-size:smaller}
.code-highlighted{background-color:#ff0}
.org-info-js_info-navigation{border-style:none}#org-info-js_console-label{font-size:10px;font-weight:700;white-space:nowrap}
.org-info-js_search-highlight{background-color:#ff0;color:#000;font-weight:700}
p.postamble{text-align:center;font-size:12px}
body{padding:40px 120px;text-align:left}
blockquote p{font-size:inherit}
blockquote p,#footnotes{font-style:italic}#footnotes
		       h2.footnotes{font-size:18px}disqus_thread{margin-top:28px}
